<div class="slide story" id="slide-1" data-slide="1">

  <div class="welcome-wrapper">
    <div class="sign-in-toggle">Sign in</div>
    <div class="sign-in-selected">
      <div class="sign-in-notification">Wrong password</div>
      <%= form_for :session, :url => sessions_path do |f| %>
        <%= f.text_field :email, class: "sign-in-input email", placeholder: "Email" %>
        <%= f.password_field :password, class: "sign-in-input psswd", placeholder: "Password" %>
        <%= f.submit "sign in", class: "sign-in-button"%>

      <% end %>

        <div id="progress-button" class="progress-button">

          <!-- button with text -->
          <button><span>Submit</span></button>

          <!-- svg circle for progress indication -->
          <svg class="progress-circle" width="70" height="70">
            <path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
          </svg>

          <!-- checkmark to show on success -->
          <svg class="checkmark" width="70" height="70">
            <path d="m31.5,46.5l15.3,-23.2"/>
            <path d="m31.5,46.5l-8.5,-7.1"/>
          </svg>

          <!-- cross to show on error -->
          <svg class="cross" width="70" height="70">
            <path d="m35,35l-9.3,-9.3"/>
            <path d="m35,35l9.3,9.3"/>
            <path d="m35,35l-9.3,9.3"/>
            <path d="m35,35l9.3,-9.3"/>
          </svg>

        </div><!-- /progress-button -->



      
    </div>
    <div class="welcome-title">
      <span class="unisphere">UNISPHERE</span>
      <span class="main-title">Collaborative workspace for students</span>
      <span class="subtitle">Share, communicate and plan</span>
    </div>
  </div>
  <div class="sign-up-wrapper">
    <div class="sign-up">
      <input type="text"class="sign-up-input" placeholder="Email Address" /> 
      <div class="sign-up-button">Sign up for Free</div>
    </div>
  </div>

  <div class="try-it-wrapper">
		<%= form_tag users_path(user: {name: nil}), multipart: true do %>
    <form class="try-it-form" method="post" action="users" >
      <div class="try-it">
        <input type="submit" class="try-it-text" value="Try it now!"></input>
        <i class="fa fa-arrow-circle-o-right"></i>
      </div>
    </form>
		<% end %>
  </div>
	
</div>


