<div class="container">
  <div class="row">
    <div class="col-md-12" id="plop">
      <p class="form-title">Sign In</p>
      <form accept-charset="UTF-8" action="/sessions" class="login" method="post">
        <%= form_for(:session, :url => sessions_path) do |f| %>
          <%= f.text_field :email, class: "field-input", placeholder: "Email" %>
          <%= f.password_field :password, class: "field-input", placeholder: "Password" %>
          <%= f.submit "sign in", class: "btn btn-success btn-sm", id: "sign-in-submit-btn"%>
        <%end%>

        <div class="remember-forgot">
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label><input type="checkbox" id="booo" />Remember Me</label>
              </div>
            </div>
            <div class="col-md-6 forgot-pass">
              <a href="#">Forgot Password</a>
            </div>
          </div>
        </div>
      </form>
      <%= link_to 'Sign up now !', signup_path %>
    </div>
  </div>
</div>


