
<div id="title">
<h1>All groups</h1>
</div>



<table class="container">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', user_group_calendar_path(@user, group, group.calendar) %></td>
        <td><%= link_to 'Edit', edit_user_group_path(@user, group) %></td>
        <td><%= link_to 'Leave', leavegroup_path(@user, group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Group', new_user_group_path(@user) %> |
<%= link_to 'Back', user_path(@user) %> |
<%= link_to 'All groups', allgroups_path(@user), method: :get %>

