<div class="container" >
  <%= @group.name %></br>
	
	<%= form_for @group, url: { action: "send_invitation" } do |f| %>
		<div id="user_search">
 			<input class="typeahead" type="text" placeholder="Invite a user" name="user[email]">
			<input type="submit" value="Submit">
		</div>
	<% end %>
	
  <table class="tasks">
  <% @tasks.each do |task| %>
  	<tr>
			<td name="<%= task.id %>"><%= task.name %></td>
			<td><%= link_to 'Delete', user_group_task_path(@user, @group, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
  <% end %>
  </table>
  <%= render 'tasks/task_form' %>
  
  <table class="microposts" summary="Discussion">
  	<%= render @microposts %>
	</table>
	<h3>Answer...</h3>
	
	<%= render 'microposts/micropost_form' %>

  <% @documents.each do |document| %>
  	<tr>
			<td><%= link_to document.file_file_name, document.file.url %></td>
			<td><%= link_to 'Browse', edit_user_group_document_path(@user, @group, document) %>
			<td><%= link_to 'Destroy', user_group_document_path(@user, @group, document), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
    <% end %>
		
</div>

<%= link_to 'Back', user_groups_path(@user) %> |
<%= link_to 'New doc', new_user_group_document_path(@user, @group) %> 


			
