<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Show all', users_path %> |
<%= link_to 'Calendars', user_calendars_path(@user) %> |
<%= link_to 'Groups', user_groups_path(@user) %> |
<%= link_to 'Docs', user_documents_path(@user) %> |
<%= link_to 'New doc', new_user_document_path(@user, @group) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Sign out', signout_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'notif', user_notifications_path(@user) %>

<div id="huge"></div>
