<div class="first-row" id="breadcrumb-seachbar"></div>
<div class="main-page">
	<div class="separator"></div>
	<div class="chat-main-panel">
		<div class="chat-notification"></div>
		

		<div class="chat-display" chat_id="<%= @groupchat.id %>">
			
			<!-- message display -->
			<div class="messages">
			<% @messages.each do |message| %>
				<div class="message">
					<object type="image/svg+xml" data="<%= asset_path 'pic-default-36.svg' %>" class="message-pic"></object>
					<div class="message-info">
						<span class="message-sender"><%= User.find(message.owner_id).name %></span>
						<span class="message-time"><%= time_ago_in_words(message.created_at) %></span>
					</div>
					<div class="message-content"><%= message.content %></div>
				</div>
				<% if message.created_at < 1.days.ago %>
					<div> Change le background color et ça passe </div>
				<% end %>
			<% end %>
			</div>
			
			<!-- new message -->
			<div class="new-message"></div>
			
			<!-- message input -->
			<div class="chat-input">
				<span class="fa fa-cloud-upload" id="chat-input-upload"></span>
				<span class="container-chat-input-text">
					<textarea class="chat-input-text" rows="1"></textarea>
				</span>
				<span class="fa fa-smile-o"></span>
			</div>
		</div>
		
	</div>
	<div class="chat-right-panel">

		<div class="channel-list">
			<div class="section-title">
				<span class="channel-title">CHANNEL :</span>

				<span class="current-channel">plop</span>
				<span class="fa fa-gears"></span>
			</div>
			<% @groupchats.each do |chat| %>
			<div data-channel="1" class="channel-element" hcannel="<%= chat.channel %>" chat="<%= chat.id %>"><%= chat.name %></div>
			<% end %>

			<div id="new-channel">
				<span class="fa fa-plus-square-o"></span>
				<span class="new-channel-text">New channel</span>
				<%= text_field_tag :name, '', class: "channel_creation" %>
			</div>
			<div class="active-caret fa fa-caret-right"></div>
      
		</div>

		<!-- ----------- -->
		<!-- MEMBER LIST -->
		<!-- ----------- -->

		<div class="member-list">
			<div class="section-title" id="member-title">MEMBERS</div>
			<div class="member">
				<object type="image/svg+xml" data="<%= asset_path 'pic-default-80.svg' %>" class="member-pic"></object>
				<div class="member-infos">
					<div class="member-name">Gabrieldfgfdgfdfdg</div>
					<div class="member-presence"><span class="fa fa-circle"></span>online</div>
				</div>
			</div>
			<div class="member side-to-side">
				<object type="image/svg+xml" data="<%= asset_path 'pic-default-80.svg' %>" class="member-pic"></object>
				<div class="member-infos">
					<div class="member-name">Clement</div>
					<div class="member-presence"><span class="fa fa-circle"></span>online</div>
				</div>
			</div>
			<div class="member alone">
				<object type="image/svg+xml" data="<%= asset_path 'pic-default-80.svg' %>" class="member-pic"></object>
				<div class="member-infos">
					<div class="member-name">Claire</div>
					<div class="member-presence"><span class="fa fa-circle"></span>offline</div>
				</div>
			</div>
			<div class="member side-to-side">
				<object type="image/svg+xml" data="<%= asset_path 'pic-default-80.svg' %>" class="member-pic"></object>
				<div class="member-infos">
					<div class="member-name">Clement</div>
					<div class="member-presence"><span class="fa fa-circle"></span>online</div>
				</div>
			</div>
			<div class="member side-to-side">
				<object type="image/svg+xml" data="<%= asset_path 'pic-default-80.svg' %>" class="member-pic"></object>
				<div class="member-infos">
					<div class="member-name">Clement</div>
					<div class="member-presence"><span class="fa fa-circle"></span>online</div>
				</div>
			</div>
		</div>
	</div>
</div>