<div id="background-grey"></div>

<%= render 'popup/popup_all_groups' %>
<%= render 'popup/popup_config' %>
<%= render 'popup/popup_new_group' %>
<%= render 'popup/popup_signup' %>
<%= render 'popup/popup_transfer' %>
