<table class="container">
  <thead>
    <tr>
      <th>Courses</th>
			<th>Evaluations</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr name="<%= course.id %>">
        <td><%= course.name %></td>
				<td>
					<% course.evaluations.each do |evaluation| %>
						<ul>
							<li>
								<%= evaluation.name %> |
								<%= Mark.find_by_user_id(current_user.id).score %> |
								coeff <%= evaluation.coefficient %> |
								<%= link_to 'Go', user_group_course_evaluation_marks_path(@user, @group, course, evaluation) %> 	
								</li>
						</ul>
					<% end %>
				</td>
				<td>coeff <%= course.coefficient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

