<% if current_user.groups.exists?(id: activity.owner_id) %>
	<% if activity.trackable %>

    <%= link_to  user_group_path(current_user, Group.find(activity.trackable.group_id)) do %>
      <span class"subject">
        <%= activity.trackable.name %>
        Has been added to 
        <%= Group.find(activity.trackable.group_id).name %>
      </span>
    <% end %>

	<% else %>

    <%= link_to  user_group_path(current_user, Group.find(activity.owner_id)) do %>
      <span class"subject">
        A new task has been removed from 
        <%= Group.find(activity.owner_id).name %>
      </span>

	<% end %>
<% end %>
