<div id="container-perso-storage">

	<!-- ------ -->
	<!-- HEADER -->
	<!-- ------ -->

	<div class="first-row" id="breadcrumb-seachbar">
		<div id="breadcrumb" folder_id="<%= @folder.id %>" group_id="<%= params[:group_id] %>" group_name="<%= @current_group.name %>" >
			
			<% @breadcrumbs.each do |document| %>
				<%= link_to document[:name], get_group_documents_path(folder_id: document[:id], group_id: params[:group_id]), class: "breadcrumb-redirection name-document" %>
				<span class="breadcrumb-separator"> > </span>
			<% end %>
		</div>
		

		<!--<div id="perso-file-search" class="col-md-4">-->
			<!--  <span class="icon"><i class="fa fa-search"></i></span>-->
			<!--  <input type="search" id="search" placeholder="Search..." />-->
			<!--</div>-->
    
		</div> 

		<div class="main-page">
			<div class="separator"></div>
      
			
			<!-- ------------- -->
			<!-- DOCUMENT list -->
			<!-- ------------- -->

    <div id="list-document">
      <div class="notification-row"></div>
      <div id="loader" class="hidden">Loading...</div>
      <div id="list-title">
        <div id="title-name" class="cloud-title">
          <span class="title-text">Name</span>
          <span class="fa fa-sort-up"></span>
        </div>
        <div id="title-modified" class="cloud-title">
          <span class="title-text">Last modified</span>
          <span class="fa fa-sort-up"></span>
        </div>
        <div id="title-size" class="cloud-title">
          <span class="title-text">Last modified</span>
          <span class="fa fa-sort-up"></span>
        </div>
      </div>
				
    <!-- ------------------- -->
    <!-- FOLDERS             -->
    <!-- ------------------- -->
		
        <% @group_folders.each do |folder| %>
    	    <div class="box_document" document-selected="false">
            <span class="dragAndDrop icon-and-name" item_id="<%= folder.id %>" item="folder" name="<%= folder.name %>" >
              <%= link_to get_group_documents_path(group_id: params[:group_id], folder_id: folder.id) do %>
                <%= fa_icon("folder-o") %>
                <span class="name-document go-folder"><%= folder.name %></span>
              <% end %>
              <%= text_field_tag :name, folder.name, class: "hidden input-rename-document" %>
            </span>
            
            <%= fa_icon("pencil", class: "document-rename") %>
            <div class="modified-doc">
              <span class="date-time"><%= time_ago_in_words Time.at(folder.created_at.to_i) %></span>
              <span class="person"></span>
            </div>
            <div class="size-doc">-</div>
          </div>
        <% end %>
				
    <!-- ------------------- -->
    <!-- DOCUMENTS           -->
    <!-- ------------------- -->
		
				<% @group_documents.each do |document| %>
				<% if document.deleted == false && document.name %>
				<div class="box_document" document-selected="false">
					<span class="dragAndDrop icon-and-name" document_id="<%= document.box_id %>" item="file" name="<%= document.name %>" item_id="<%= document.id %>"%>
						<%= link_to read_group_file_path(box_id: document.box_id) do %>
						<%= fa_icon("file-o") %>
						<span class="name-document"> <%= document.name %> </span>
						<% end %>
						<%= text_field_tag :name, document.name, class: "hidden input-rename-document" %>
					</span>
            
					<%= fa_icon("pencil", class: "document-rename") %>
					<div class="modified-doc">
						<span class="date-time"><%= time_ago_in_words Time.at(document.created_at.to_i) %></span>
						<span class="person"><%= document.owner %></span>
					</div>
					<div class="size-doc"><%= document.size/1000 %> kb</div>
				</div>
				<% end %>
				<% end %>
				
    <!-- ------------------- -->
    <!-- FIREPADS            -->
    <!-- ------------------- -->
		
        <% @firepads.each do |firepad| %>
				<% if firepad.deleted == false %>
    	    <div class="box_document" document-selected="false">
            <span class="dragAndDrop icon-and-name" item_id="<%= firepad.id %>" item="firepad" name="<%= firepad.name %>" firepad_ref="<%= firepad.firebase_url %>">
              <%= link_to read_firepad_path(firepad_id: firepad.id) do %>
                <%= fa_icon("folder-o") %>
                <span class="name-document go-file"><%= firepad.name %></span>
              <% end %>
              <%= text_field_tag :name, firepad.name, class: "hidden input-rename-document" %>
            </span>
            
            <%= fa_icon("pencil", class: "document-rename") %>
            <div class="modified-doc">
              <span class="date-time"><%= time_ago_in_words Time.at(firepad.created_at.to_i) %></span>
              <span class="person"></span>
            </div>
            <div class="size-doc">-</div>
          </div>
        <% end %>
				<% end %>		  
      
    </div> 

    <!-- ------------------- -->
    <!-- ACTIONS             -->
    <!-- ------------------- -->

    <div id="right-actions">

      <div id="new-doc" class="">
        <%= fa_icon("4x plus-square-o")%>
        <div id="new-actions">
          <%= link_to create_group_folder_path(group_id: params[:group_id], folder_id: params[:folder_id]), method: :post, id: "new-folder" do%>
            <%= fa_icon "folder-o" %>Folder
          <% end %>

          <a id="upload-doc" rel="nofollow"><i class="fa fa-arrow-circle-o-up"></i>Upload</a>
          <%= form_tag create_group_file_path(group_id: params[:group_id], folder_id: params[:folder_id]), multipart: true do %>
            <%= file_field_tag :file, id: "input-button-upload", class: "hidden" %>
            <%= submit_tag "upload-doc", class: "hidden", id: "submit-button-upload" %>
          <% end %>
          <div id="create-doc">
            <!-- <span id="create-doc-title>"<i class="fa fa-file"></i>New</span> -->
						
            <a id="create-firepad" class="create-list"><i class="fa fa-file-o"></i>Firepad</a>
          </div>
        </div>
      </div>
      
     <div id="actions-doc">
       <div id="download-doc" class="action">
         <%= fa_icon("arrow-circle-o-down") %>
       </div>
       <div id="delete-doc" class="action">
         <%= fa_icon("trash-o") %>
       </div>
       <div id="link-doc" class="action">
         <%= fa_icon("link") %>
       </div>
       <div id="link-display"></div>
       <div id="link-doc" class="action">
         <%= fa_icon("rocket") %>
       </div>
     </div>
    </div>
  </div>
</div>