<div id="container-perso-storage">

	<!-- ------ -->
	<!-- HEADER -->
	<!-- ------ -->

	<div class="first-row">
		<div id="breadcrumb" folder_id="<%= @folder.id %>" group_id="<%= params[:group_id] %>" group_name="<%= @current_group.name %>" >
			
			<% @breadcrumbs.each do |document| %>
				<%= link_to document[:name], get_group_documents_path(folder_id: document[:id], group_id: params[:group_id]), class: "breadcrumb-redirection name-document" %>
				<span class="breadcrumb-separator"> > </span>
			<% end %>
		</div>

    <% if !current_user.confirmed %>
      <span id="prompt-signup">This is a test version! &nbsp &nbsp For full features &nbsp &nbsp<span id="signup-button-navbar"><i class="fa fa-paw"></i>Sign up</span></span>		
    <% end %>

		<!--<div id="perso-file-search" class="col-md-4">-->
			<!--  <span class="icon"><i class="fa fa-search"></i></span>-->
			<!--  <input type="search" id="search" placeholder="Search..." />-->
			<!--</div>-->
    
		</div> 

		<div class="main-page">
			<div class="separator"></div>
      
			
			<!-- ------------- -->
			<!-- DOCUMENT list -->
			<!-- ------------- -->

    <div id="list-document">
      <div class="notification-row"></div>
      <div id="loader" class="hidden">Loading...</div>
      <div id="list-title">
        <div id="title-name" class="cloud-title">
          <span class="title-text">Name</span>
          <span class="fa fa-sort-up"></span>
        </div>
        <div id="title-modified" class="cloud-title">
          <span class="title-text">Last modified</span>
          <span class="fa fa-sort-up"></span>
        </div>
        <div id="title-size" class="cloud-title">
          <span class="title-text">Size</span>
          <span class="fa fa-sort-up"></span>
        </div>
      </div>
				
      <div class="document-rows">
	
        <% @group_folders.each do |folder| %>
    	    <div class="box_document" document-selected="false">
            <span class="dragAndDrop icon-and-name" item_id="<%= folder.id %>" item="folder" name="<%= folder.name %>" >
              <%= link_to get_group_documents_path(group_id: params[:group_id], folder_id: folder.id) do %>
                <%= fa_icon("folder-o") %>
                <span class="name-document go-folder"><%= folder.name %></span>
              <% end %>
              <%= text_field_tag :name, folder.name, class: "hidden input-rename-document" %>
            </span>
            
            <a title="Rename" rel="nofollow"><%= fa_icon("pencil", class: "document-rename") %></a>
            <div class="modified-doc">
              <span class="date-time"><%= time_ago_in_words Time.at(folder.created_at.to_i) %></span>
              <span class="person"></span>
            </div>
            <div class="size-doc">-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
          </div>
        <% end %>
			
	
				<% @group_documents.each do |document| %>
  				<% if document.deleted == false && document.name %>
  				<div class="box_document" document-selected="false">
  					<span class="dragAndDrop icon-and-name" document_id="<%= document.box_id %>" item="file" name="<%= document.name %>" item_id="<%= document.id %>"%>
  						<%= link_to read_group_file_path(box_id: document.box_id) do %>
  						<%= fa_icon("file-o") %>
  						<span class="name-document"> <%= document.name %> </span>
  						<% end %>
  						<%= text_field_tag :name, document.name, class: "hidden input-rename-document" %>
  					</span>
              
  					<a title="Rename" rel="nofollow"><%= fa_icon("pencil", class: "document-rename") %></a>
  					<div class="modified-doc">
  						<span class="date-time"><%= time_ago_in_words Time.at(document.created_at.to_i) %></span>
  						<span class="person"><%= document.owner %></span>
  					</div>
  					<div class="size-doc"><%= document.size/1000 %> kb</div>
  				</div>
  				<% end %>
				<% end %>

		
        <% @firepads.each do |firepad| %>
  				<% if firepad.deleted == false %>
      	    <div class="box_document" document-selected="false">
              <span class="dragAndDrop icon-and-name" item_id="<%= firepad.id %>" item="firepad" item_id="<%= firepad.id %>" name="<%= firepad.name %>" firepad_ref="<%= firepad.firebase_url %>">
                <%= link_to read_firepad_path(firepad_id: firepad.id, group_id: current_group.id) do %>
                  <%= fa_icon("edit") %>
                  <span class="name-document go-file"><%= firepad.name %></span>
                <% end %>
                <%= text_field_tag :name, firepad.name, class: "hidden input-rename-document" %>
              </span>
              
              <a title="Rename" rel="nofollow"><%= fa_icon("pencil", class: "document-rename") %></a>
              <div class="modified-doc">
                <span class="date-time"><%= time_ago_in_words Time.at(firepad.created_at.to_i) %></span>
                <span class="person"></span>
              </div>
              <div class="size-doc">-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
            </div>
          <% end %>
				<% end %>
      </div>
    </div> 
		
    <!-- ------------------- -->
    <!-- ACTIONS             -->
    <!-- ------------------- -->

    <div id="right-actions">

      <div id="new-actions">
        <div class="action-doc action-possible" id="actions-creation" >
          <%= link_to create_group_folder_path(group_id: params[:group_id], folder_id: params[:folder_id]), method: :post, id:"new-folder", class:"action", title:"Create a folder" do%>
              <%= fa_icon "folder-o" %>
          <% end %>

          <a id="upload-doc" rel="nofollow" class="action" title="Upload a doc">
            <%= fa_icon("arrow-circle-o-up") %>
          </a>
          <%= form_tag create_group_file_path(group_id: params[:group_id], folder_id: params[:folder_id]), multipart: true do %>
            <%= file_field_tag :file, id: "input-button-upload", class: "hidden" %>
            <%= submit_tag "upload-doc", class: "hidden", id: "submit-button-upload" %>
          <% end %>

          <a id="create-firepad" class="action" title="Create a collaborative document" rel="nofollow">
            <i class="fa fa-edit"></i>
          </a>
        </div>
        <div class="action-doc" id="actions-selected-doc">
          <a id="download-doc" class="action" rel="nofollow" title="Download a document">
            <%= fa_icon("arrow-circle-o-down") %>
          </a>
          <a id="delete-doc" class="action" rel="nofollow" title="Delete a document">
            <%= fa_icon("trash-o") %>
          </a>
          <a id="link-doc" class="action" rel="nofollow" title="Share a document">
            <%= fa_icon("link") %>
          </a>
          <a id="transfer-file" class="action" rel="nofollow" title="Transfer a document">
            <%= fa_icon("exchange") %>
          </a>
          <div id="link-display"></div>
        </div>
      </div>
    </div>
  </div>
</div>