<h1>Listing documents</h1>

	<%= form_tag create_group_file_path(group_id: params[:group_id], folder_id: params[:folder_id]), multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "upload" %>
	<% end %>
	
	<table class="container">
	  <thead>
	    <tr>
	      <th>files</th>
	    </tr>
	  </thead>	

	  <tbody>
	    <% @group_documents.each do |document| %>
	      <tr id="box_document">
					<td class="dragAndDrop"><%= document.name %></td>
					<td><%= link_to 'delete', delete_group_file_path(file_id: document.id, group_id: params[:group_id], folder_id: params[:folder_id]), method: :delete %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<table class="container">
	  <thead>
	    <tr>
	      <th>folders</th>
	    </tr>
	  </thead>	

	  <tbody>
	    <% @group_folders.each do |folder| %>
	      <tr id="box_document">
					<td class="dragAndDrop"><%= link_to folder.name, get_group_documents_path(group_id: params[:group_id], folder_id: params[:folder_id]) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<%= link_to 'New folder', create_group_folder_path(group_id: params[:group_id], folder_id: params[:folder_id]), method: :post %></br> 

</table>







