<div id="container-perso-storage">

  <!-- ------ -->
  <!-- HEADER -->
  <!-- ------ -->

  <div class="first-row" id="breadcrumb-seachbar">
    <div id="breadcrumb" folder_id="<%= params[:folder] %>" >
    </div>

    <!--<div id="perso-file-search" class="col-md-4">-->
    <!--  <span class="icon"><i class="fa fa-search"></i></span>-->
    <!--  <input type="search" id="search" placeholder="Search..." />-->
    <!--</div>-->


    <!-- UPLOAD & NEW button -->

    <div id="new-button">
      <button class="button-new" type="button" data-toggle="dropdown" aria-expanded="true">NEW</button>
      <ul class="dropdown-menu" id="button-new-dropdown" role="menu" aria-labelledby="button-new">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <%= link_to create_user_folder_path(folder: params[:folder]), method: :post do%>
              <%= fa_icon("folder") %>
              Folder
            <% end %>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" id="button-upload">
              <%= fa_icon("upload") %>
              UPLOAD
          </a>
          <%= form_tag upload_user_file_path(folder: params[:folder]), multipart: true do %>
            <%= file_field_tag :file, class: "hidden", id: "input-button-upload" %>
            <%= submit_tag "upload", class: "hidden", id: "submit-button-upload" %>
          <% end %>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Firepad</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Google Doc</a></li>
      </ul>
    </div>
  </div> 

  <div class="main-page">

    

    <!-- ------------- -->
    <!-- DOCUMENT list -->
    <!-- ------------- -->

    <div id="list-document">
      <% @documents.each do |document| %>
      <div class="box_document">
        <span class="dragAndDrop icon-and-name" document_id="<%= document['id']%>" item="<%= document['type'] %>" name="<%= document['name'] %>" >
          <% if document['type'] == 'folder' %>
          <%= fa_icon("folder", class: "fa-icon") %>
          <%= link_to document['name'], get_user_documents_path(folder: document['id']), class: "name-document" %>
          <% elsif document['type'] == 'file' %>
          <%= fa_icon("file", class: "fa-icon") %>
          <%= link_to document['name'], show_user_file_path(box_id: document['id']), class: "name-document", file: document.to_json , item: 'folder' %>
          <% end %>
          <%= text_field_tag :name, document['name'], class: "hidden input-rename-document" %>
        </span>

        <%= fa_icon("pencil", class: "document-rename") %>

      </div>
      <% end %>
    </div> 


    
  </div>
</div>




