<div id="container-perso-drive">
  <div class="row row-perfect first-row" id="breadcrumb-seachbar">
    <div id="breadcrumb" class="col-md-6">
      Perso >
    </div>

    <!-- <div id="perso-file-search" class="col-md-4">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
    </div> -->
  </div> 

    <!-- Second row -->
    

    <!-- Third row -->
    <div class="column col-md-9" id="list-name">
      <% @documents.each do |document| %>
      <div id="box_document" class="row row-perfect">
        <span class="dragAndDrop col-md-4 icon-and-name" id="<%= document['type'] %>" document_id="<%= document['id']%>" item="<%= document['type'] %>" >
          <% if document['type'] == 'folder' %>
            <%= fa_icon("folder", class: "fa-icon") %>
            <%= link_to document['name'], get_user_documents_path(folder: document['id']), class: "name-file-folder"%>
          <% elsif document['type'] == 'file' %>
            <%= fa_icon("file", class: "fa-icon") %>
            <%= link_to document['name'], show_user_file_path(box_id: document['id']), class: "name-file-folder" %>
          <% end %>
          <%= text_field_tag :name, document['name'], id: "input-rename-file", class: "hidden" %>
        </span>



        <%= fa_icon("pencil", class: "file-rename col-md-1 visible-hover") %>

        <span id="files-actions" class="col-md-2 col-md-offset-3">
          <span id="icon-download">
            <%= link_to fa_icon("download"), download_user_document_path(id: document['id'], type: document['type']) %>
          </span>
          <span id="icon-trash">
            <%= link_to fa_icon("trash"), delete_user_document_path(id: document['id'], type: document['type'], folder: @folder), method: :delete %>
          </span>
        </span>
      </div>
      <% end %>
    </div> 




  <div class="column col-md-3" id="side-container">
    <div class="panel-costum">
      <span class="panel-title">
        <%= fa_icon("info") %>
        Infos
      </span>
      <table class="file-info">
        <tbody>
          <tr id="creation-time">
            <td class="first-col-width">Created</td>
            <td>12 Dec 2014</td>
          </tr>
          <tr id="modification-time">
            <td>Modified</td>
            <td>16 Dec 2014</td>
          </tr>
          <tr id="owner">
            <td>Size</td>
            <td>116 Kb</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-costum panel-share">
      <!-- <span class="separation-line-container"><span class="separation-line"></span></span> -->
      <span class="panel-title">
        <%= fa_icon("link") %>
        Share link 
      </span>
      <span class="share-link-container">
        <span class="share-link">http://localhost:3000/user/documents?folder=0http://localhost:3000/user/documents?folder=0</span>
      </span>
    </div>
  </div>

</div>