<div id="container-perso-drive">
  

  <!-- First row -->
  <div class="row row-perfect" id="breadcrumb-seachbar">
    <div id="breadcrumb" class="col-md-7" folder_id="<%= params[:folder] %>" >
    </div>

    <div id="perso-file-search" class="col-md-4">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
    </div>
  </div> 

  <!-- Second row -->
  <div id="new-upload" class="row">
    <button class="btn btn-default dropdown-toggle pull-left button-new" type="button" data-toggle="dropdown" aria-expanded="true">NEW</button>
    <ul class="dropdown-menu" id="button-new-dropdown" role="menu" aria-labelledby="button-new">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <%= link_to fa_icon("folder"), create_user_folder_path(folder: params[:folder]), method: :post %></a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Firepad</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Google Doc</a></li>
    </ul>
    <button class="btn btn-default pull-left" type="button" id="button-upload">UPLOAD</button>
    <%= form_tag upload_user_file_path(folder: params[:folder]), multipart: true do %>
      <%= file_field_tag :file, class: "hidden", id: "input-button-upload" %>
      <%= submit_tag "upload", class: "hidden", id: "submit-button-upload" %>
    <% end %>
		<% if params[:folder] != '0' %>
			<%= link_to 'PREVIOUS', get_user_previous_folder_path(box_id: params[:folder]) %>
		<% end %>
  </div>

  <!-- Third row -->
  <div class="column col-md-9" id="list-name">
    <% @documents.each do |document| %>
    <div class="box_document row row-perfect">
      <span class="dragAndDrop col-md-4 icon-and-name" document_id="<%= document['id']%>" item="<%= document['type'] %>" name="<%= document['name'] %>" >
        <% if document['type'] == 'folder' %>
          <%= fa_icon("folder", class: "fa-icon") %>
          <%= link_to document['name'], get_user_documents_path(folder: document['id']), class: "name-document" %>
        <% elsif document['type'] == 'file' %>
          <%= fa_icon("file", class: "fa-icon") %>
          <%= link_to document['name'], show_user_file_path(box_id: document['id']), class: "name-document", file: document.to_json , item: 'folder' %>
        <% end %>
        <%= text_field_tag :name, document['name'], class: "hidden input-rename-document" %>
      </span>



      <%= fa_icon("pencil", class: "document-rename col-md-1 visible-hover") %>

      <span id="files-actions" class="col-md-2 col-md-offset-3">
        <span id="icon-link">
          <%= link_to fa_icon("link"), download_user_document_path(box_id: document['id'], type: document['type']) %> 
        </span>
        <span id="icon-download">
          <%= link_to fa_icon("download"), download_user_document_path(box_id: document['id'], type: document['type']) %>
        </span>
        <span id="icon-trash">
          <%= link_to fa_icon("trash"), delete_user_document_path(box_id: document['id'], type: document['type'], folder: params[:folder]), method: :delete %>
        </span>
      </span>
    </div>
    <% end %>
  </div> 




  <div class="column col-md-3" id="side-container">
    <span class="panel-title">Informations</span>
    <table class="file-info">
      <tbody>
        <tr id="creation-time">
          <td class="first-col-width">Created</td>
          <td id="createdAt">-</td>
        </tr>
        <tr id="modification-time">
          <td>Modified</td>
          <td id="modifiedAt">-</td>
        </tr>
        <tr id="owner">
          <td>Size</td>
          <td id="fileSize">-</td>
        </tr>
      </tbody>
    </table>
  </div>



</div>

<div id="file-informations">
	</div>


