

    <div id="logo-wrapper">
    <!-- <svg width="24" height="24">
        <image xlink:href="mickey.svg" width="24" height="24" />
      </svg> -->
      <!-- <object type="image/svg+xml" data="<%= asset_path 'mickey_2.svg' %>"></object> -->
      <!-- <span class= "brand&#45;name"> INFINITREE </span> -->
    </div>

    


    <div id="user-deco">
      <a id="user-profile" >
       <object type="image/svg+xml" data="<%= asset_path 'pic-default-28.svg' %>" id="profile-pic"></object>
        <span class="user-name" current_user_name="<%= current_user.name %>" current_user_id="<%= current_user.id %>"><%= current_user.name %></span>
      </a>
     	
      <%= link_to fa_icon("sign-out", class: "power-off"), signout_path, method: :delete, data: { confirm: "Are you sure?" }, class: "deco"  %>
    </div>

		<%= link_to 'oauth', send_oauth_path, style: "color: white" %>