<div id="background-grey"></div>

<div id="slide-new-group" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">New group</span>
      <div class="fa fa-close" id="close-new-group"></div>
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="new-group-wrapper">
        <%= text_field_tag :name, '', class: "input-wrapper", id: "new-group-input" %>
        <div class="submit-default" id="new-group-submit">Create</div>
      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>




<div id="slide-group-config" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Configuration</span>
      <div class="fa fa-close" id="close-group-config"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="group-config-wrapperwrapper ">
			<% if params[:group_id] %>
				<%= form_for Group.new, url: { controller: "groups", action: "send_invitation", group_id: current_group.id }, method: :put do |f| %>
       		<div id="user_search">
         		<input class="typeahead" type="text" placeholder="Invite users" name="user[email]">
         		<input type="submit" value="Submit">
       		</div>
				<% end %>
			<% end %>
      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>



<div id="slide-transfer-document" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">File transfer</span>
      <div class="fa fa-close close-transfer-document"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="transfer-document-wrapper">
        <div class="document-to-transfer">
          <i class="fa fa-file-o"></i>
          <span class="file-name">bonjour</span>
        </div>
        <div class="fa fa-long-arrow-right"></div>
        <div class="group-list group-list-transfer-document">
          <% current_groups.each do |group| %>
            <div class="list-element">
              <i class="fa fa-group"></i>
              <span class="list-element-name" group_id="<%= group.id %>"><%= group.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="slide-footer">
      <input value="Transfer" class="submit-default validate-default" id="transfer-document-submit">
      <!-- <input value="Cancel" class="submit-default close-transfer-document" id="transfer-document-cancel"> -->
    </div>
  </div>
</div>





<div id="slide-all-groups" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Select a group</span>
      <div class="fa fa-close" id="close-all-groups"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="all-groups-wrapper">
        <div class="group-list group-list-all-groups">
          <% current_groups.each do |group| %>
            <div class="list-element">
              <i class="fa fa-group"></i>
              <span class="list-element-name" group_id="<%= group.id %>"><%= group.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="slide-footer">
      <input value="Select" class="submit-default validate-default" id="all-groups-submit">
    </div>
  </div>
</div>






























