<div id="background-grey"></div>

<div id="slide-new-group" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">New group</span>
      <div class="fa fa-close" id="close-new-group"></div>
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="new-group-wrapper">
        <%= text_field_tag :name, '', class: "input-wrapper", id: "new-group-input" %>
        <div class="submit-default" id="new-group-submit">Create</div>
      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>


<div id="slide-all-groups" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Select a group</span>
      <div class="fa fa-close" id="close-all-groups"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="all-groups-wrapper ">
        <% current_groups.each do |group| %>
          <%= link_to user_group_calendar_path(current_user, group, group.calendar), class: "lateral-nav-element" do %>
            <i class="fa fa-group"></i>
            <span class="group-name-sidebar" group_id="<%= group.id %>"><%= group.name %></span>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="slide-footer"></div>
  </div>
</div>

<div id="slide-group-config" class="slide">
  <div class="slide-container">
    <div class="slide-header">
      <span class="header-title">Configuration</span>
      <div class="fa fa-close" id="close-group-config"></div> 
    </div>
    <div class="slide-body">
      <div class="wrapper-default" id="group-config-wrapper">
      <% if params[:group_id] %>
          <%= form_for Group.new, url: { controller: "groups", action: "send_invitation", group_id: current_group.id }, method: :put do |f| %>
                <input class="typeahead" id="tokenfield" type="text" placeholder="Invite users" name="user[email]">
                <input type="submit" value="Create" class="submit-default" id="new-group-config-submit">
        <% end %>
      <% end %>
      </div>
      <div class="slide-footer">
      </div>
    </div>
  </div>
</div>








































