<div class="column col-md-2 col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar" >
  <div class="column col-sm-1 hidden-small" id="sidebar-padding">
  </div>

  <ul class="nav visible-small" data-no-turbolink id="chevron">
    <li><a href="#" data-toggle="offcanvas" class="text-center visible-small"><i id="chevron-class" class="fa fa-chevron-right" ></i></a></li>
  </ul>

  <div class="column col-sm-11 row-offcanvas" id="sidebar-main-wrapper">

    <div id="tabs-default" class="hidden-small">
      <%= link_to 'Perso', user_path(current_user) , class: "column col-sm-6 tab #{url_perso?}" %>
      <%= link_to 'Groups', user_groups_path(current_user), class: "column col-sm-6 tab offset-margin #{url_groups?}"%>
      <%# <% if @title == "perso" %> 
        <!-- <a href="/" class="column col&#45;sm&#45;6 tab active">Perso</a> -->
        <!-- <a href="/groups" class="column col&#45;sm&#45;6 tab offset&#45;margin">Group</a> -->
      <%# <% else %>
        <!-- <a href="/" class="column col&#45;sm&#45;6 tab">Perso</a> -->
        <!-- <a href="/groups" class="column col&#45;sm&#45;6 tab active offset&#45;margin">Group</a> -->
      <%# <% end %>
    </div>


    <div id="content-wrapper">

      <ul class="visible-xs hidden-small container-fluid" id="tabs-small">
        <%# <%= link_to 'Perso', user_groups_path(@user) %> 
        <%# <%= link_to 'Groups', user_groups_path(@user) %> 
        <li class="column col-xs-6"><a href="/"><i class="fa fa-child"></i><span>Perso</span></a></li>
        <li class="column col-xs-6"><a href="/"><i class="fa fa-group"></i><span>Group</span></a></li>
      </ul>

      <ul class="nav visible-xs visible-small" id="tabs-small-toggle">
        <li><a href="/"><i class="fa fa-child"></i></a></li>
        <li><a href="/groups"><i class="fa fa-group"></i></a></li>
      </ul>

      <div class="hidden-small" id="tabs-perso-groups">
        <div id="avatar-deco">
          <%# <%= current_user.name %>
          <%# <%= current_user.gravatar_url %> 
          <!-- <img src=""> -->
          <!-- <img src="http://gravatar.com/avatar/dbaedd0cf158a0ce54fc0d89644b8642.png?d=identicon&#38;r=PG&#38;s=40"/> -->
          <%= image_tag current_user.gravatar_url %>
        </div>
        <% if request.url =~ /groups(.*)/ %>
          <div id="active-group">
            <div class="panel panel-default" id="heading-group">
              <div class="panel-heading">
                <span class="group-pic"><img alt="group pic" src="#"></span>
                <span class="group-name">Grid computing</span>
              </div>

              <div class="panel-body" id="nav-group">
                <ul class="nav">
                  <li><a href="#"><i class="fa fa-folder-open"></i>drive</a></li>
                  <li><a href="#"><i class="fa fa-wechat"></i>chat</a></li>
                  <li><a href="#"><i class="fa fa-calendar"></i>calendar</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div id="list-groups-wrapper">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span> Groups </span>
              </div>
              <div class="panel-body">
                <ul class="nav" id="list-groups">
                  <% current_groups.each do |group| %>
                    <li><a href="#"><span><img alt="pic" src="#"></span><span class="name-group"> <%= group.name %></span></a></li>
                  <% end %>
                    
                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">hpc</span></a></li> -->
                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">java</span></a></li> -->
                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">c++</span></a></li> -->
                </ul>
                <div class="line-separator"></div>
                <a href="#groups-search" id="more-groups" data-toggle="modal"><span class="fa fa-plus"></span><span class="ellipsis">See all groups</span></a>
              </div>
            </div>
          </div>
        <% elsif  %>
          <div id="active-group">
            <div class="panel panel-default" id="heading-group">
              <div class="panel-heading">
                <span class="group-pic"><img alt="group pic" src="#"></span>
                <span class="group-name">Grid computing</span>
              </div>

              <div class="panel-body" id="nav-group">
                <ul class="nav">
                  <li><a href="#"><i class="fa fa-folder-open"></i>drive</a></li>
                  <li><a href="#"><i class="fa fa-wechat"></i>chat</a></li>
                  <li><a href="#"><i class="fa fa-calendar"></i>calendar</a></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <ul class="nav visible-small" id="sidebar-small" >
        <li><a href="#"><i class="fa fa-folder-open"></i></a></li>
        <li><a href="#"><i class="fa fa-wechat"></i></a></li>
        <li><a href="#"><i class="fa fa-calendar"></i></a></li>
      </ul>

      <ul class="nav visible-small" id="group-choice-small" >
        <li><a href="#"><i class="fa fa-sort"></i></a></li>
      </ul>
    </div>

  </div>
</div>


<div id="groups-search" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        Personal Todo list 
      </div>
      <div class="modal-body">
        <form class="form center-block">
          <div class="form-group">
            <textarea class="form-control input-lg" autofocus="" placeholder="Keep your thoughts in a safe place.."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Save</button>
      </div>
    </div>
  </div>
</div>





