

<div id="tabs-container">
  <%= link_to 'Perso', user_path(current_user) , class: "tab #{url_perso?}", id: "tab-perso" %>
  <%= link_to 'Groups', user_groups_path(current_user), class: "tab #{url_groups?}", id: "tab-group" %>
</div>


<div id="content-wrapper">

  <div id="sidebar-first-row"></div>
  <div id="platform-choice">
    <!-- <span class="unifolder"><i class="fa fa-folder-open"></i>Unifolder</span>
    <a href="#"><span class="unilib"><i class="fa fa-graduation-cap"></i>Unilib</span> -->
  </div>

  <!-- ----------------------------- -->
  <!-- ------ GROUP sidebar -------- -->
  <!-- ----------------------------- -->

  <% if request.url =~ /groups(.*)/ %>
    <% if current_group_exists? %>
      <div id="active-group-nav" class="lateral-nav">
        <ul>
          <%= nav_link_to fa_icon("folder-open", text: "Drive"), get_group_documents_path(group_id: params[:group_id], parent_id: 100) %>
          <%= nav_link_to fa_icon("wechat", text: "Chat"), root_path %>
          <%= nav_link_to fa_icon("calendar", text: "Calendar"), user_group_calendar_path(current_user, current_group, group_calendar) %>
        </ul>
      </div>
    <%end%>

    <div id="groups-nav" class="lateral-nav">
      <ul>
        <% current_groups.each do |group| %>
          <li>
            <%= link_to user_group_calendar_path(current_user, group, group.calendar) do %>
              <%= image_tag "group-pic.png" %>
              <span class="name-group"> <%= group.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="line-separator"></div>
      <a href="#groups-search" id="more-groups" data-toggle="modal">
        <i class="fa fa-plus"></i>See all groups
      </a>
    </div>

  <!-- ----------------------------- -->
  <!-- ------ PERSO sidebar -------- -->
  <!-- ----------------------------- -->

  <% elsif  %>
    <div class="lateral-nav" id="nav-perso">
      <ul>
        <li>
        <%= link_to (get_user_documents_path(folder: '0' )) do %>
          <%=fa_icon("folder-open")%>Folder
        <% end %>
        </li>
        <li><a href="#"><i class="fa fa-wechat"></i>Chat</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i>Calendar</a></li>
      </ul>
    </div>
  <% end %>

</div>






