

<div id="tabs-container">
	<%= link_to 'Perso', user_path(current_user) , class: "tab #{url_perso?}", id: "tab-perso" %>
	<%= link_to 'Groups', user_groups_path(current_user), class: "tab #{url_groups?}", id: "tab-group" %>
</div>

<div id="row-and-content-wrapper">
	<div id="sidebar-first-row">
		<span id="uni-name">IFMA - engineering school</span>
	</div>
	<div id="content-wrapper">

		<div id="platform-choice">
		<!-- <span class="unifolder"><i class="fa fa-folder-open"></i>Unifolder</span>
			<a href="#"><span class="unilib"><i class="fa fa-graduation-cap"></i>Unilib</span> -->
		</div>

		
		<div id="sidebar-separator"></div>

		<% if request.url =~ /groups(.*)/ %>
			<% if current_group_exists? %>
				<div class="lateral-nav" id="active-group-nav">
	        <ul>
	        	<li>
	        		<%= link_to get_group_documents_path(group_id: params[:group_id], parent_id: 100) do %>
								<%=fa_icon("folder-open")%>Folder
							<% end %>
						</li>
						<li>
							<%= link_to get_group_chats_path do %>
								<%=fa_icon("wechat")%>Calendar
							<% end %>
						<li>
							<%= link_to user_group_calendar_path(current_user, current_group, group_calendar) do %>
								<%=fa_icon("calendar")%>Calendar
							<% end %>
						</li>
	        </ul>
	      </div>
			<%end%>

			<div class="lateral-nav" id="groups-nav" >
				<ul>
					<% current_groups.each do |group| %>
					<li>
						<%= link_to user_group_calendar_path(current_user, group, group.calendar) do %>
							<%= image_tag "group-pic.png" %><span class="group-name-sidebar" group_id="<%= group.id %>"><%= group.name %></span>
						<% end %>
					</li>
					<% end %>
				</ul>
				<div class="line-separator"></div>
				<div id="more-groups">
					<i class="fa fa-plus"></i>See all groups
				</div>
			</div>

		<% elsif  %>
			<div class="lateral-nav" id="nav-perso">
				<ul>
					<li id="perso-folder">
						<%= link_to (get_user_documents_path(folder: '0')) do %>
							<%=fa_icon("folder-open")%>Folder
						<% end %>
					</li>
					<li><a href="#"><i class="fa fa-wechat"></i>Chat</a></li>
					<li><a href="#"><i class="fa fa-calendar"></i>Calendar</a></li>
				</ul>
			</div>
		<% end %>

	</div>
</div>









