<div class="column col-md-2 col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
  <div class="column col-sm-1 hidden-small" id="sidebar-padding">
  </div>

  <ul class="nav visible-small" data-no-turbolink id="chevron">
    <li><a href="#" data-toggle="offcanvas" class="text-center visible-small"><i id="chevron-class" class="fa fa-chevron-right" ></i></a></li>
  </ul>

  <div class="column col-sm-11 row-offcanvas" id="sidebar-main-wrapper">

    <div id="tabs-default" class="hidden-small">
      <%= link_to 'Perso', user_path(current_user) , class: "column col-sm-7 tab #{url_perso?}" %>
      <%= link_to 'Groups', user_groups_path(current_user), class: "column col-sm-7 tab offset-margin #{url_groups?} groups-tab-link"%>
    </div>


    <div id="content-wrapper">

      <ul class="visible-xs hidden-small container-fluid" id="tabs-small">
        <li class="column col-xs-6"><a href="/"><i class="fa fa-child"></i><span>Perso</span></a></li>
        <li class="column col-xs-6"><a href="/"><i class="fa fa-group"></i><span>Group</span></a></li>
      </ul>

      <ul class="nav visible-xs visible-small" id="tabs-small-toggle">
        <li><a href="/"><i class="fa fa-child"></i></a></li>
        <li><a href="/groups"><i class="fa fa-group"></i></a></li>
      </ul>

      <div class="hidden-small" id="tabs-perso-groups">
        <div id="avatar-deco">
					<%= image_tag current_user.gravatar_url, alt: "Gravatar", class: "gravatar" %>
						<span class="user-name"> <%= current_user.name %> </span>
						<span class="deco-options">
							<%= fa_icon("cog", class: "gear") %>
              <%= link_to fa_icon("power-off", class: "power-off"), signout_path, method: :delete, data: { confirm: "Are you sure?" }  %>
						</span>
        </div>
        <% if request.url =~ /groups(.*)/ %>
          <% if current_group_exists? %>
            <div id="active-group">
              <div class="panel panel-default" id="heading-group">
                <div class="panel-heading">
                  <%= image_tag "group-pic.png", class: "group-pic"%>
                  <!-- <span class="group&#45;pic"><img alt="group pic" src="#"></span> -->
                  <span class="group-name">Grid computing</span>
                </div>

                <div class="panel-body" id="nav-group">
                  <ul class="nav">
                    <!-- <li><a href="#"><i class="fa fa&#45;folder&#45;open"></i>drive</a></li> -->
                    <%# <%= nav_link_to "#{fa_icon "folder-open", text: "Drive"}", root_path %>
                    <%= nav_link_to fa_icon("folder-open", text: "Drive"), root_path %>
                    <%= nav_link_to fa_icon("wechat", text: "Chat"), root_path %>
                    <%= nav_link_to fa_icon("calendar", text: "Calendar"), user_group_calendar_path(current_user, current_group, group_calendar) %>
                    <!-- <li><a href="#"><%= fa_icon "folder&#45;open" %>drive</a></li> -->
                    <!-- <li><a href="#"><%= fa_icon "wechat" %>chat</a></li> -->
                    <!-- <li><a href="#"><%= fa_icon "calendar" %>calendar</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          <%end%>

          <div id="list-groups-wrapper">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span> Groups </span>
              </div>
              <div class="panel-body">
                <ul class="nav" id="list-groups">
                  <% current_groups.each do |group| %>
                    <!-- <li> -->
                    <!--   <a href="<%= user_group_path(current_user, group.id) %>" class="groups&#45;links"> -->
                    <!--     <span><img alt="pic" src="#"></span> -->
                    <!--     <span class="name&#45;group"> <%= group.name %></span> -->
                    <!--   </a> -->
                    <!-- </li> -->

                    <li>
                    <%= link_to user_group_calendar_path(current_user, group, group.calendar), class: "groups-links" do %>
                      <%# <%= image_tag "#{group.name}.png" %>
                      <%= image_tag "group-pic.png" %>
                      <span class="name-group"> <%= group.name %></span>
                    <% end %>
                    </li>

                  <% end %>

                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">hpc</span></a></li> -->
                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">java</span></a></li> -->
                  <!-- <li><a href="#"><span><img alt="pic" src="#"></span><span class="name&#45;group">c++</span></a></li> -->
                </ul>
                <div class="line-separator"></div>
                <a href="#groups-search" id="more-groups" data-toggle="modal"><span class="fa fa-plus"></span><span class="ellipsis">See all groups</span></a>
              </div>
            </div>
          </div>
        <% elsif  %>
          <!-- <div id="active&#45;group"> -->
          <!--   <div class="panel panel&#45;default" id="heading&#45;group"> -->
          <!--     <div class="panel&#45;heading"> -->
          <!--       <span class="group&#45;pic"><img alt="group pic" src="#"></span> -->
          <!--       <span class="group&#45;name">Grid computing</span> -->
          <!--     </div> -->
          <!--  -->
          <!--     <div class="panel&#45;body" id="nav&#45;group"> -->
          <!--       <ul class="nav"> -->
          <!--         <li><a href="#"><i class="fa fa&#45;folder&#45;open"></i>drive</a></li> -->
          <!--         <li><a href="#"><i class="fa fa&#45;wechat"></i>chat</a></li> -->
          <!--         <li><a href="#"><i class="fa fa&#45;calendar"></i>calendar</a></li> -->
          <!--       </ul> -->
          <!--     </div> -->
          <!--   </div> -->
          <!-- </div> -->
        <% end %>

        <!-- <div id="test"> -->
        <!--     <a> <h3>Effect 1</h3> </a> -->
        <!-- </div> -->


      </div>

      <ul class="nav visible-small" id="sidebar-small" >
        <li><a href="#"><i class="fa fa-folder-open"></i></a></li>
        <li><a href="#"><i class="fa fa-wechat"></i></a></li>
        <li><a href="#"><i class="fa fa-calendar"></i></a></li>
      </ul>

      <ul class="nav visible-small" id="group-choice-small" >
        <li><a href="#"><i class="fa fa-sort"></i></a></li>
      </ul>
    </div>

  </div>
</div>


<div id="groups-search" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        Personal Todo list 
      </div>
      <div class="modal-body">
        <form class="form center-block">
          <div class="form-group">
            <textarea class="form-control input-lg" autofocus="" placeholder="Keep your thoughts in a safe place.."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Save</button>
      </div>
    </div>
  </div>
</div>






