

<div id="tabs-container">
	<%= link_to 'Perso', get_user_documents_path(folder: '0' ) , class: "tab #{url_perso?}", id: "tab-perso", current_user_id: current_user.id %>
	<%= link_to 'Groups', get_group_documents_path(group_id: current_user.groups.last, parent_id: 100), class: "tab #{url_groups?}", id: "tab-group" %>
</div>

<div id="row-and-content-wrapper">
	<div id="sidebar-first-row">
		<span id="uni-name">Université de Strasbourg</span>
	</div>
	<div id="content-wrapper">

		<div class="separator"></div>

		<% if request.url.include? 'group' %>
			<% if current_group_exists? %>
				<div class="lateral-nav" id="active-group-nav" group_id="<%= current_group.id %>">
					<div id="current-group-wrapper" class="subtitle-default">
						<div class="name-text" id="current-group-title"><%=current_group.name%></div>
						<div class="fa fa-gear" id="current-group-config"></div>
					</div> 
					<div class="active-menu"></div>
					<a href="<%= get_group_documents_path(group_id: params[:group_id], parent_id: 100) %>" data-space="1" class="lateral-nav-element <%= 'active' if current_page?(get_group_documents_path(group_id: params[:group_id], parent_id: 100)) %> <%= 'previous' if url_for(:back) == get_group_documents_url(group_id: params[:group_id], parent_id: 100) %>">
						<i class="fa fa-folder-open-o"></i>Folder
					</a>

					<a href="<%= get_group_chats_path(group_id: params[:group_id]) %>" data-space="2" class="lateral-nav-element <%= 'active' if current_page?(get_group_chats_path) %> <%= 'previous' if url_for(:back) == get_group_chats_url %>">
						<i class="fa fa-wechat"></i>Chat
					</a>

					<a href="<%= user_group_calendar_path(current_user, current_group, group_calendar) %>" data-space="3" class="lateral-nav-element  <%= 'active' if current_page?(user_group_calendar_path(current_user, current_group, group_calendar)) %> <%= 'previous' if url_for(:back) == user_group_calendar_url(current_user, current_group, group_calendar) %>">
						<i class="fa fa-calendar"></i>Calendar
					</a>
	      </div>
			<%end%>


			<div class="lateral-nav" id="groups-nav" >
				<div id="current-group-wrapper" class="subtitle-default">
						<div class="name-text">Other groups</div>
						<div class="fa fa-plus"  id="new-group"></div>
				</div> 
				
				<div class="sidebar-list-group">
					<% current_groups.each do |group| %>
						<%= link_to get_group_documents_path(group_id: group.id, parent_id: 100), class: "lateral-nav-element current-group-element" do %>
							<i class="fa fa-group"></i>
							<!-- <object type="image/svg+xml" data="<%= asset_path 'group-pic.svg' %>" id="profile-pic"></object> -->
							<span class="group-name-sidebar" group_id="<%= group.id %>"><%= group.name %></span>
						<% end %>
					<% end %>
				</div>
				<!-- <div class="line-separator"></div> -->
				<div id="all-groups"><i class="fa fa-eye"></i>See all groups</div>
			</div>

		<% elsif %>
			<div class="lateral-nav" id="nav-perso">
				<div class="subtitle-default">
						<div class="name-text"><%=current_user.name%></div>
						<div class="fa fa-gear"></div>
					</div>
				<!-- <div class="section-title">Tools</div> -->
				<div class="active-menu"></div>

				<a href="<%= get_user_documents_path(folder: '0') %>" data-space="1" class="lateral-nav-element <%= 'active' if current_page?(get_user_documents_path(folder: '0')) %> <%= 'previous' if url_for(:back) == get_user_documents_url(folder: '0') %>">
					<i class="fa fa-folder-open-o"></i>Folder
				</a>
				

				<a href="<%= get_user_documents_path(folder: '0') %>" data-space="2" class="lateral-nav-element <%= 'active' if current_page?(user_path(current_user)) %> <%= 'previous' if url_for(:back) == user_url(current_user) %>">
					<i class="fa fa-wechat"></i>Chat
				</a>

				<a data-space="3" href="<%= user_calendars_path(current_user) %>" class="lateral-nav-element <%= 'active' if current_page?(user_calendars_path(current_user)) %> <%= 'previous' if url_for(:back) == user_calendars_url(current_user) %>"><i class="fa fa-calendar"></i>Calendar</a>
			</div>
		<% end %>

	</div>
</div>









