<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
	<title>   <%= full_title(yield(:title)) %>    </title>
	<%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "main", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "http://localhost:9292/faye/faye.js" %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>


<body>
	<%= render 'layouts/popup' %>
	<div id="sidebar"> <%= render 'layouts/sidebar' %> </div>
	<div id="central-area">
		<div role="navigation" id="navbar"> <%= render 'layouts/navbar' %> </div>
		<main id="central-page">
			<% if @under_construction == true %>
				<%= render 'layouts/under_construction' %>
			<% else %>
				<%= yield %>
			<% end %>
		</main>
	</div>
</body>
</html>

